:root {
  --black: #111;
  --accent: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --bg-body: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --gray: rgba(255, 255, 255, 0.7);
  --gray-secondary: rgba(17, 17, 17, 0.7);
  --fonts: "Montserrat", sans-serif;
  --size-text: 14px;
  --line-height: 1.28;
  --letter-spacing: -0.02em;
}

body {
  font-family: var(--fonts);
  font-size: var(--size-text);
  color: var(--black);
  background-color: var(--bg-body);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.accent {
  color: var(--accent);
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* /RESET */

/* SECTION STYLE */
/* header */

/* .header {
  padding-bottom: 28px;
  padding-top: 28px;
} */

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  margin-right: auto;
}

.nav {
  margin-right: 90px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-item {
}

.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.14;
  display: block;
  transition: color 250ms linear;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.social-list {
  display: flex;
  gap: 14px;
}

.social-link {
  transition: color 250ms linear;
}

.social-link:hover,
.social-link:focus {
  color: var(--accent);
}

.social-icon {
  fill: currentColor;
}

/* Hero style */

.hero {
  padding-bottom: 80px;
}

.hero .container {
  background-color: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 100%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;

  padding-top: 381px;
  padding-bottom: 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  max-width: 484px;
  margin-bottom: 32px;

  /* line-height: 34px; */
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: var(--white);
}

.hero-btm {
  border-radius: 100px;
  padding: 14px 40px;
  width: 144px;
  height: 45px;
  background-color: var(--accent);
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  border: none;
  margin-right: 14px;
}

.hero-link {
  font-weight: 600;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  height: 45px;
}

/* Hero style */

/* Benefits style */

.benefits {
  background-color: var(--violet);
  padding: 50px 0;
}

.benefits .container {
  padding: 0 50px;
}
.benefits-icon-wrapper {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-list {
  display: flex;
  gap: 88px;
}

.benefits-item {
  width: calc((100% - 2 * 88px) / 3);
  position: relative;
}

.benefits-item:not(:last-child)::after {
  content: "";
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 124px;
  position: absolute;
  top: 60px;
  right: -44px;
}

.benefits-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: var(--white);
  margin-bottom: 18px;
}

.benefits-text {
  color: rgba(255, 255, 255, 0.7);
}

/* INGRIDIENTS STYLE */

.ingridients {
  padding-top: 120px;
  padding-bottom: 60px;
}

.ingridients-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.ingridients-item {
  width: calc((100% - 32px * 3) / 4);
  background-color: var(--accent);
  /* width: 260px; */
  border-radius: 15px;
  padding: 28px 23px;
}

/* .ingridients-item:not(:last-child) {
    margin-bottom: 32px;
} */

.ingridients-item:nth-child(2n) {
  background-color: transparent;
  border: 1px solid var(--accent);
}

.ingridients-item:nth-child(4n + 1) {
  background-color: var(--accent);
  color: var(--white);
}

.ingridients-item:nth-child(4n + 3) {
  background-color: var(--black);
  color: var(--white);
}

.ingridients-img {
  margin-bottom: 36px;
}

.ingridients-subtitle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

/* ==== ABOUT STYLES =====*/

.about {
  padding: 60px 0;
}
/* 
.about-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
} */

.content-wrapper {
  display: flex;
  gap: 20px;
}
.about-img {
}
.about-subtitle {
  padding-top: 32px;
  max-width: 340px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  margin-bottom: 28px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 20px;
  list-style: disc;
}
/* .about-item:not(:last-child) {
    margin-bottom: 24px;
} */
/*Sellers styles*/
.sellers {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .sellers-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
} */
.sellers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sellers-item {
}
.sellers-img {
}
.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.content-text-wrapper {
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  background: var(--white);
}
.overlay {
  width: 288px;
  margin: 0 auto;
  position: absolute;
  top: 176px;
  right: 40px;
  /* opacity: 0; */
  transform: translateX(150%);
  transition: transform 0.3s linear;
}
.wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.wrapper:hover .overlay {
  transform: translateX(0);
  /* opacity: 1; */
}
.wrapper:hover .sellers-img {
  filter: blur(3px);
}
.overlay-text {
  color: #fafafa;
}

/* products styles */

.products {
  padding: 60px 0;
}

.products-title {
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 24px;
}

.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: calc((100% - 18px * 3) / 4);
  background: var(--white);
  padding: 32px 0;
  text-align: center;
}

.products-img {
  margin: 0 auto 8px auto;
  /* margin-bottom: 8px; */
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.products-text {
  font-size: 12px;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.price-wrapper {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  width: 94px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 600;
}

/* modal  */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  border-radius: 15px;
  width: 517px;
  background: var(--white);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-title {
  font-weight: 600;
  font-size: 24px;

  /* line-height: 28px; */
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 300px;
  margin-bottom: 40px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  color: #404040;
}

/* .modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--accent);
} */

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  stroke: var(--accent);
}

.modal-lable {
  display: block;
  font-size: 14px;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 18px;
}
.modal-input {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  /* padding: 22px 24px; */
  height: 68px;
  padding-left: 62px;
  margin-top: 8px;
}
.modal-textarea {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 93px;
  height: 137px;
  display: block;
  resize: none;
  margin-top: 8px;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
}



.modal-checkbox:checked + .checkbox-label .custom-checkbox {
  background-color: var(--accent);
  border: none;
}

.policy-text {
  font-size: 14px;
  color: rgba(64, 64, 64, 0.6);
}
.policy-link {
  /* text-decoration: underline; */
  text-decoration-skip-ink: none;
  color: var(--accent);
}
.modal-btn {
  border-radius: 100px;
  width: 117px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
}
.close-icon {
  /* stroke: currentColor; */
  stroke: #404040;
  transition: stroke 250ms linear;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  stroke: #404040;
  fill: transparent;
  transform: translateY(-50%);
}
.input-wrapper {
  position: relative;
}

/* .modal-lable:focus-within .modal-icon {
  stroke: var(--accent);
}

.modal-lable:focus-within .modal-input {
  border-color: var(--accent);
  outline: none;
} */

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--accent);
  outline: none;
}
